.watchlist{
    font-family: 'Raleway', sans-serif;
}

.yes{
    background-color: #169AED;
    border: 0;
    border-radius: 0;
    padding: 10px 50px;
}
.no{
    background-color: #DDDDDD;
    border: 0;
    border-radius: 0;
    padding: 10px 50px;
}

.go{
    background-color: #8FC600;
    border: 0;
    border-radius: 0;
    width: 82%;
    padding: 10px 10px;
}

.card{
    border: 0;border-radius: 0;
}

.card-header{
    padding: 1.25rem 1.25rem;
}

.card-footer{
    background-color:white;border-top:0;padding-top: 4rem;
}

.next{
    background-color: rgb(146, 146, 146);
    border: 0;
    border-radius: 0;
    padding: 6px 40px;
    color: white;
    float: right;
    margin-top: 5px;
  }

  img{
    height: 15rem;
  }