<div class="container-fluid" style="padding:1rem">
  <div class="container">
    <div *ngIf='!isGo'>
      <h5 class="watchlist text-uppercase">Print, Assign & Activate</h5>
      <div class="row">
        <div class="col-lg-4">
          <div class="card">
            <div class="card-header">
              Print Label
            </div>
            <div class="card-body">
              <div class="text-center" style="padding-bottom: 2rem;">
                <img src="../../../assets/icons/label-printing-icon.svg" />
              </div>
              <h5>Preview?</h5>
              <div class="text-center" style="padding-bottom: 1rem;">
                <button type="button" class="btn btn-primary" [ngClass]="yesLabel" (click)="printLabel('yes')">YES</button>
                <button type="button" class="btn btn-primary" [ngClass]="noLabel" (click)="printLabel('no')">NO</button>
              </div>
            </div>
            <div class="card-footer text-muted text-center" style="padding-top: 10.22rem;">
              <button type="button" class="btn btn-primary go" (click)="onPrintLabel()">
                Go
              </button>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <div class="card-header">
              Print Badge
            </div>
            <div class="card-body">
              <div class="text-center" style="padding-bottom: 2rem;">
                <img src="../../../assets/icons/badge-printing-icon.svg" />
              </div>
              <h5>Preview?</h5>
              <div class="text-center" style="padding-bottom: 1.5rem;">
                <button type="button" class="btn btn-primary" [ngClass]="yesBadge" (click)="printBadge('yes')">YES</button>
                <button type="button" class="btn btn-primary" [ngClass]="noBadge" (click)="printBadge('no')">NO</button>
              </div>
              <h5>Assign/Activate?</h5>
              <div class="text-center" style="padding-bottom: 1rem;">
                <button type="button" class="btn btn-primary" [ngClass]="yesBadgeAssign" (click)="printBadgeAssign('yes')">YES</button>
                <button type="button" class="btn btn-primary" [ngClass]="noBadgeAssign" (click)="printBadgeAssign('no')">NO</button>
              </div>
            </div>
            <div class="card-footer text-muted text-center">
              <button type="submit" class="btn btn-primary go" (click) = "onPrintBadge()">
                Go
              </button>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <div class="card-header">
              Assign/Activate Badge
            </div>
            <div class="card-body">
              <div class="text-center" style="padding-bottom: 3rem;">
                <img src="../../../assets/icons/assign-activate-badge-icon.svg" />
              </div>
            </div>
            <div class="card-footer text-muted text-center" style="padding-top: 15rem;">
              <button type="submit" class="btn btn-primary go" (click) = "onPrintAssignBadge()">
                Go
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-print-label *ngIf='isPrintLabel'></app-print-label>
    <app-print-badge *ngIf='isPrintBadge'></app-print-badge>
    <app-print-assign-badge *ngIf='isPrintAssignBadge' (cancel)="onCancel($event)"></app-print-assign-badge>
    <button type="submit" [routerLink]="['/printbadge']" class=" btn next" id="host">Finish</button>
  </div>
 
</div>
