.watchlist {
  font-family: 'Raleway', sans-serif;
}

.card {
  border-radius: 0
}

.card-body {
  border-radius: 0
}

.list-group-item {
  border-radius: 0
}

.next {
  background-color: #8FC600;
  border: 0;
  border-radius: 0;
  padding: 6px 30px;
  color: white;
  margin-top: 5px;
}

.next1 {
  background-color: #8FC600;
  border: 0;
  border-radius: 0;
  padding: 6px 40px;
  color: white;
  float: right;
  margin-top: 5px;
}

.list-group-item.active {
  background-color: #122d51;
  border-color: #122d51;
}

.yes {
  background-color: #169AED;
  border: 0;
  border-radius: 0;
  padding: 8px 40px;
}

.no {
  background-color: #DDDDDD;
  border: 0;
  border-radius: 0;
  padding: 8px 40px;
}

table {
  width: 100%;
}

.mat-icon{
  height: 40px;
  width: 40px;
}