<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <h1 class="watchlist text-uppercase">WatchList</h1>
      <br/>
      <div class="input-group mb-3 input-group-lg">
        <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <span ><img src="../../../assets/icons/seach.png"></span>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div style="float:right"> 
         <a href="javscript:void(0);" data-toggle="modal" data-target="#exampleModal"><img src="../../../assets/icons/login.png" style="margin: 0 7px;"></a>
        <img src="../../../assets/icons/upload.png" style="margin: 0 7px;">
      </div>

    </div>
  </div>
  <div class="row>">
    <!-- <div class="container"> -->
      <button (click) = "getUsersList()" id = 'reload' style="display:none">reloadS</button>
    <table class="table">
      <thead>
        <tr style="background-color:#f8f8f8; height: 70px">
          <th scope="col"></th>
          <th scope="col">Name</th>
          <th scope="col">Company</th>
          <th scope="col">Comment</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor ="let user of users">
          <th scope="row"><img src="../../../assets/icons/{{user.image}}" class="rounded"></th>
          <td>{{user.firstName}}, {{user.lastName}}</td>
          <td>{{user.company}}</td>
          <td>{{user.comment}}</td>
          <td><img src="../../../assets/icons/edit.png"></td>
          <td><a href="javscript:void(0);" (click) = "onRemove(user.id)"><img src="../../../assets/icons/close.png"></a></td>
        </tr>
      </tbody>
    </table>
    <!-- </div> -->
  </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" [ngStyle]="{'display':display}">
    <div class="modal-dialog" role="document" style="    margin-top: 5%;">
      <div class="modal-content" style="background-color:#f1f1f1; border-radius: 0;">
          <app-addtowatchlist></app-addtowatchlist>
      </div>
    </div>
  </div>