.container-fluid {
  padding: 2rem;
}

table {
  background-color: white !important;
}

.form-control{
    border-radius: 0px !important;
    height: 50px !important;
}
input[type="text"], textarea {
    outline: none;
    box-shadow:none !important;
    border:1px solid #ccc !important;
}
.btn:focus {
    outline: none;
    box-shadow:none !important;
}
.watchlist{
    font-family: 'Raleway', sans-serif;
}

th{
    vertical-align: middle !important;
}
td{
    vertical-align: middle !important;
}

.rounded {
    border-radius: 3.25rem !important;
    border: thin #eeeeee solid;
    height: 80px;
    width: 80px;
}

.remove{
    float:left;
        background-color: rgb(198, 40, 0);
        border: 0;
        border-radius: 0;
        padding: 6px 45px;
}

.cancel{
    float:right;
        background-color: rgb(70, 67, 65);
        border: 0;
        border-radius: 0;
        padding: 6px 45px;
}

.modal-xl {
    width: 90%;
   max-width:1200px;
  }

  table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }

  div.container6 {
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center }
  div.container6 p {
    margin: 0 }

    .example-container {
        height: 35em;
        overflow: auto;
      }