<div class="container-fluid" style="padding:2rem">
  
  <form [formGroup]="preRegForm" (ngSubmit)="onSubmit()">
    <div class="container">
        <h3 class="watchlist text-uppercase"> {{visitor?.lastName}}, {{visitor?.firstName}} | {{visitor?.company}}</h3>
      <nav *ngIf="isPreRegisters" class="navbar navbar-light bg-light" style="border-bottom: 2px solid rgba(236, 236, 236, 0.952);padding:0">
        <h5 class="watchlist" style="padding: 1rem">Pre-Registeration Detail</h5>
      </nav>
      <div class="row newBar" *ngIf="isPreRegisters">

        <div class="col-sm-6">
          <label>
            Email Address:
          </label>
          <input type="text" class="form-control form-control-lg" formControlName="email">
        </div>
        <div class="col-sm-6">
            <label>
                Phone Number:
              </label>
              <input type="text" class="form-control form-control-lg" formControlName="phone">
        </div>
        <div class="col-sm-6">
            <label>
                Start Date & Time:
              </label>
          <div class="row">
            <div class="col-sm">
                <input type="date" class="form-control form-control-lg" formControlName="startDate">
            </div>
            <div class="col-sm">
                <input type="time" class="form-control form-control-lg" formControlName="startTime">
              </div>
          </div>
        </div>
        <div class="col-sm-6">
            <label>
                End Date & Time:
              </label>
            <div class="row">
                <div class="col-sm">
                    <input type="date" class="form-control form-control-lg" formControlName="endDate">
                </div>
                <div class="col-sm">
                    <input type="time" class="form-control form-control-lg" formControlName="endTime">
                  </div>
              </div>
        </div>
      </div>

      <nav class="navbar navbar-light bg-light" style="border-bottom: 2px solid rgba(236, 236, 236, 0.952);padding:0">
        <h5 class="watchlist" style="padding: 1rem">Visitor Host</h5>
      </nav>
      <div class="row newBar">
        <div class="col-sm">
          <p>Company host for this visit:</p>
        </div>
        <div class="col-sm">
          <button class=" btn btn-primary host" data-toggle="modal" data-target="#selectHost" id="host" *ngIf = "!hostSelected">Select Host</button>
          <button class=" btn btn-primary host" data-toggle="modal" data-target="#selectHost" id="host" *ngIf = "hostSelected">{{host.firstName}}</button>
        </div>
      </div>


      <nav class="navbar navbar-light bg-light" style="border-bottom: 2px solid rgba(236, 236, 236, 0.952);padding:0">
        <h5 class="watchlist" style="padding: 1rem">Questions</h5>
      </nav>
      <div class="row newBar">
        <div class="col-sm-6">
          <p style="margin-top: 1rem;">What visitor category does person belongs to?</p>
        </div>
        <div class="col-sm-6">
            <div class="input-group">
                <input type="text" class="form-control form-control-lg" aria-label="Text input with dropdown button" [(ngModel)]="category" [ngModelOptions]="{standalone: true}">
                <div class="input-group-append">
                  <button class="btn  dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border-radius: 0;padding: 0px 10px;
                  height: 48px;
                  margin-top: 10px;
                  border: 1px solid;
                  background: white;">v</button>
                  <div class="dropdown-menu" >
                    <a class="dropdown-item" href="javascript:void(0)" *ngFor ="let cat of visitorCategory" (click) = "onSelectCategory(cat)">{{cat}}</a>
                  </div>
                </div>
              </div>
        </div>

        <div class="col-sm-6">
          <p style="margin-top: 1rem;">What is the purpose of visit?</p>
        </div>
        <div class="col-sm-6">
            <input type="text" class="form-control form-control-lg" [(ngModel)]="purpose" [ngModelOptions]="{standalone: true}">
        </div>

        <div class="col-sm-6">
          <p style="margin-top: 1rem;">What is visitor's favourite food?</p>
        </div>
        <div class="col-sm-6">
            <input type="text" class="form-control form-control-lg">
        </div>

        <div class="col-sm-6">
          <p style="margin-top: 1rem;">What is visitor's email address?</p>
        </div>
        <div class="col-sm-6">
            <input type="text" class="form-control form-control-lg">
        </div>

        <div class="col-sm-6">
          <p style="margin-top: 1rem;">Is visitor non-vegetarian?</p>
        </div>
        <div class="col-sm-6">
            <button type="button" class="btn btn-primary" [ngClass]="yesClass" (click)="preRegister('yes')">YES</button>
            &nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-primary" [ngClass]="noClass" (click)="preRegister('no')">NO</button>
        </div>
      </div>

      <nav class="navbar navbar-light bg-light" style="border-bottom: 2px solid rgba(236, 236, 236, 0.952);padding:0">
        <h5 class="watchlist" style="padding: 1rem">Visitor Picture</h5>
      </nav>
      <div class="row newBar">
        <div class="col-sm-2">
            <span *ngIf = "visitor?.imageurl === '' && !isFile"><img src="../../../assets/icons/{{visitor?.image}}" class="rounded">
            </span>

            <span *ngIf = "visitor?.imageurl !='' && !isFile">
                <img src="{{visitor?.imageurl}}" class="rounded">
            </span>
            <span style="margin: 0px 50px;" *ngIf ='isFile'>
              <img [src]="imageurl" class="rounded">
            </span>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-primary upload"  data-toggle="modal" data-target="#exampleModal">Upload Photo</button>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-primary takeNew"  (click) = "ontakeNew()">Take New Photo</button>
        </div>
      </div>

    </div>
  
  <div class="row" style="padding: 3.2rem;">
    <div class="col-sm text-left">
        <button class=" btn cancel" id="host">Cancel</button>
    </div>
    <div class="col-sm text-right">
        <button class=" btn back" (click)="back()" id="host">Back</button>
        &nbsp;&nbsp;&nbsp;
        <button  type = "submit" class=" btn next" id="host">Next</button>
    </div>
  </div>
</form>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog " [ngClass]="modalClassName" role="document" style="    margin-top: 5%;">
    <div class="modal-content" style="background-color:#f1f1f1; border-radius: 0;"> 
      <div  style="padding:2rem">
        <file-drop headertext=" Drag & Drop files here" (onFileDrop)="dropped($event)" 
        (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
        </file-drop>
        <hr>
        <p class="text-center">OR</p>
        <div class="text-center">
        <input type="file" id = "Photo" (change)="dropped($event)" />
        </div>
    </div>
    <button id = "close" data-dismiss="modal" style="display:none"></button>
    </div>
  </div>
</div>


<div class="modal fade" id="selectHost" tabindex="-1" role="dialog" aria-labelledby="selectHostLabel" aria-hidden="true" >
  <div class="modal-dialog modal-xl"  role="document" style="    margin-top: 5%;">
    <div class="modal-content" style="background-color:#f1f1f1; border-radius: 0;"> 
      <div  style="padding:2rem"> 
      <app-select-host (host) = "onSelectHost($event)"></app-select-host>
      </div>
    <button id = "closeed" data-dismiss="modal" style="display:none"></button>
    </div>
  </div>
</div>