<div class="container-fluid" style="padding:2rem">

  <form [formGroup]="preRegForm" (ngSubmit)="onSubmit()">
    <div class="container">
      <h3 class="watchlist text-uppercase"> {{visitor?.LastName}}, {{visitor?.FirstName}} | {{visitor?.Company}}</h3>
      <nav *ngIf="isPreRegisters" class="navbar navbar-light bg-light" style="border-bottom: 2px solid rgba(236, 236, 236, 0.952);padding:0">
        <h5 class="watchlist" style="padding: 1rem">Pre-Registeration Detail</h5>
      </nav>
      <div class="row newBar" *ngIf="isPreRegisters">

        <div class="col-sm-6">
          <label>
            Email Address:
          </label>
          <input type="text" class="form-control form-control-lg" formControlName="email">
        </div>
        <div class="col-sm-6">
          <label>
            Phone Number:
          </label>
          <input type="text" class="form-control form-control-lg" formControlName="phone">
        </div>
        <div class="col-sm-6">
          <label>
            Start Date & Time:
          </label>
          <div class="row">
            <div class="col-sm" style="display: flex;">
              <!-- <input type="date" class="form-control form-control-lg" formControlName="startDate"> -->
              <input matInput [matDatepicker]="picker"  formControlName="startDate" class="form-control form-control-lg startDate"
                style="border-right:0;     background: white;">
              <mat-datepicker-toggle matSuffix [for]="picker" class="input-field"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </div>
            <div class="col-sm" style="display: flex;">
              <!-- <input type="time" class="form-control form-control-lg" formControlName="startTime"> -->
              <input [ngxTimepicker]="toggleIcon" [disableClick]="true"  class="form-control form-control-lg"
                formControlName="startTime" style="border-right:0;    background: white;">
              <ngx-material-timepicker-toggle [for]="toggleIcon" class="input-field">
                <svg xmlns="../../../assets/icons/image2vector.svg" viewBox="0 0 30 30" width="50px" height="50px"
                  ngxMaterialTimepickerToggleIcon>
                  <path d="M15,3C8.373,3,3,8.373,3,15c0,6.627,5.373,12,12,12s12-5.373,12-12C27,8.373,21.627,3,15,3z M16,16H7.995 C7.445,16,7,15.555,7,15.005v-0.011C7,14.445,7.445,14,7.995,14H14V5.995C14,5.445,14.445,5,14.995,5h0.011 C15.555,5,16,5.445,16,5.995V16z" />
                </svg>
                <!-- <img src="../../../assets/icons/time.png"> -->
              </ngx-material-timepicker-toggle>
              <ngx-material-timepicker #toggleIcon></ngx-material-timepicker>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <label>
            End Date & Time:
          </label>
          <div class="row">
            <div class="col-sm" style="display: flex;">
              <!-- <input type="date" class="form-control form-control-lg" formControlName="endDate"> -->
              <input matInput [matDatepicker]="pickerTo"  formControlName="endDate" class="form-control form-control-lg startDate"
                style="border-right:0;     background: white;">
              <mat-datepicker-toggle matSuffix [for]="pickerTo" class="input-field"></mat-datepicker-toggle>
              <mat-datepicker #pickerTo></mat-datepicker>
            </div>
            <div class="col-sm" style="display: flex;">
              <!-- <input type="time" class="form-control form-control-lg" formControlName="endTime"> -->
              <input [ngxTimepicker]="toggleIcon1" [disableClick]="true"  class="form-control form-control-lg"
                formControlName="endTime" style="border-right:0;    background: white;">
              <ngx-material-timepicker-toggle [for]="toggleIcon1" class="input-field">
                <svg xmlns="../../../assets/icons/image2vector.svg" viewBox="0 0 30 30" width="50px" height="50px"
                  ngxMaterialTimepickerToggleIcon>
                  <path d="M15,3C8.373,3,3,8.373,3,15c0,6.627,5.373,12,12,12s12-5.373,12-12C27,8.373,21.627,3,15,3z M16,16H7.995 C7.445,16,7,15.555,7,15.005v-0.011C7,14.445,7.445,14,7.995,14H14V5.995C14,5.445,14.445,5,14.995,5h0.011 C15.555,5,16,5.445,16,5.995V16z" />
                </svg>
              </ngx-material-timepicker-toggle>
              <ngx-material-timepicker #toggleIcon1></ngx-material-timepicker>
            </div>
          </div>
        </div>
      </div>

      <nav class="navbar navbar-light bg-light" style="border-bottom: 2px solid rgba(236, 236, 236, 0.952);padding:0">
        <h5 class="watchlist" style="padding: 1rem">Visitor Host</h5>
      </nav>
      <div class="row newBar">
        <div class="col-sm">
          <p>Company host for this visit:</p>
        </div>
        <div class="col-sm">
          <button type="button" class=" btn btn-primary host" data-toggle="modal" data-target="#selectHost" id="host" *ngIf="!hostSelected">Select
            Host</button>
          <button type="button" class=" btn btn-primary host" data-toggle="modal" data-target="#selectHost" id="host" *ngIf="hostSelected">{{host.ContactName}}</button>
        </div>
      </div>
      <nav class="navbar navbar-light bg-light" style="border-bottom: 2px solid rgba(236, 236, 236, 0.952);padding:0">
        <h5 class="watchlist" style="padding: 1rem">Questions</h5>
        <!-- <h5 class="watchlist" style="padding: 1rem">Profiles</h5> -->
        <mat-select class="form-control form-control-lg" (selectionChange)="onselectProfile($event)" [(ngModel)]="selectedQP" [ngModelOptions]="{standalone: true}" style="width: 25%;">
          <mat-option *ngFor="let profile of questionProfiles"  [value]="profile.ProfileName" >
            {{profile.ProfileName}}
          </mat-option>
        </mat-select>
      </nav>
      <div class="row newBar"  *ngFor = "let question of profileQuestions" > 
            <div class="col-sm-6"  *ngIf = "question.Decisions.length<1">
                <p style="margin-top: 1rem;">{{question.QuestionText}}</p>
              </div>
              <div class="col-sm-6" *ngIf = "question.Decisions.length<1 && question.SettingValueTypeName === 'String' || question.SettingValueTypeName === 'GuestContactToSee'">
                  <input type="text" class="form-control form-control-lg" [(ngModel)]="question.Answer" [ngModelOptions]="{standalone: true}">
              </div>
              <div class="col-sm-6" *ngIf = "question.Decisions.length<1 && question.SettingValueTypeName === 'ColumnCustomOptions'">
                  <mat-select class="form-control form-control-lg" [(ngModel)]="question.Answer" [ngModelOptions]="{standalone: true}">
                      <mat-option *ngFor="let decision of question.Decisions" [value]="decision.OptionName">
                        {{decision.OptionName}}
                      </mat-option>
                    </mat-select>
              </div>

              <div class="col-sm-6" *ngIf = " question.Decisions.length<1 && question.SettingValueTypeName === 'Bool'">
                  <mat-radio-group class="form-control form-control-lg" [(ngModel)]="question.Answer" [ngModelOptions]="{standalone: true}">
                      <mat-radio-button  *ngFor="let decision of question.Decisions" [value]="decision.OptionName" > {{decision.OptionName}}</mat-radio-button>
                      
                    </mat-radio-group>
              </div>
              <div class="col-sm-6" *ngIf = " question.Decisions.length<1 && question.SettingValueTypeName === 'Date'">
                  <div class="input-group flex">
                      <input matInput [matDatepicker]="picker" [value]="date.value" [(ngModel)]="question.Answer" [ngModelOptions]="{standalone: true}" class="form-control form-control-lg startDate" style="border-right:0;     background: white;">
                   
                      <mat-datepicker-toggle matSuffix [for]="picker" class="input-field"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </div>
              </div>
              <div class="col-sm-6" *ngIf = " question.Decisions.length<1 && question.SettingValueTypeName === 'Picture'">
                <div class="row">
                  <div class="col-sm-4">
                      <span *ngIf="visitor?.PhotoLocation === '' && !isFile">
                          <a href="javascript:void(0)" (click) = "openImageModal('../../../assets/icons/'+visitor?.image)"> <img src="../../../assets/icons/{{visitor?.image}}" class="rounded">
                            </a>
                      </span>
            
                      <span *ngIf="visitor?.PhotoLocation !='' && !isFile">
                          <a href="javascript:void(0)" (click) = "openImageModal('https://v10test.eioboard.com/eioboard/'+visitor.PhotoLocation)">
                            <img src="https://v10test.eioboard.com/eioboard/{{visitor.PhotoLocation}}" class="rounded">
                            </a>
                      </span>
                      <span style="margin: 0px 50px;" *ngIf='isFile'>
                          <a href="javascript:void(0)" (click) = "openImageModal(imageurl)">
                            <img [src]="imageurl" class="rounded">
                            </a>
                      </span>
                    </div>
                    <div class="col-sm-4">
                      <button type="button" class="btn btn-primary upload" data-toggle="modal" data-target="#exampleModal">Upload
                        Photo</button>
                    </div>
                    <div class="col-sm-4">
                      <button type="button" class="btn btn-primary takeNew" data-toggle="modal" data-target="#takePhoto">Take New
                        Photo</button>
                    </div>
                  </div>
              </div>
      </div>

      <!-- <nav class="navbar navbar-light bg-light" style="border-bottom: 2px solid rgba(236, 236, 236, 0.952);padding:0">
        <h5 class="watchlist" style="padding: 1rem">Visitor Picture</h5>
      </nav>
      <div class="row newBar">
        <div class="col-sm-2">
          <span *ngIf="visitor?.PhotoLocation === '' && !isFile">
            <a href="javascript:void(0)" (click) = "openImageModal('../../../assets/icons/'+visitor?.image)"> <img src="../../../assets/icons/{{visitor?.image}}" class="rounded">
              </a>
        </span>

        <span *ngIf="visitor?.PhotoLocation !='' && !isFile">
            <a href="javascript:void(0)" (click) = "openImageModal('https://v10test.eioboard.com/eioboard/'+visitor.PhotoLocation)">
              <img src="https://v10test.eioboard.com/eioboard/{{visitor.PhotoLocation}}" class="rounded">
              </a>
        </span>
        <span style="margin: 0px 50px;" *ngIf='isFile'>
            <a href="javascript:void(0)" (click) = "openImageModal(imageurl)">
              <img [src]="imageurl" class="rounded">
              </a>
        </span>
        </div>
        <div class="col-sm-2">
          <button type="button" class="btn btn-primary upload" data-toggle="modal" data-target="#exampleModal">Upload
            Photo</button>
        </div>
        <div class="col-sm-2">
          <button type="button" class="btn btn-primary takeNew" data-toggle="modal" data-target="#takePhoto">Take New
            Photo</button>
        </div>
      </div> -->
      <br />
      <div class="row">
        <div class="col-sm text-left">
          <button class=" btn cancel" id="host" [routerLink]="['/watchlist']">Cancel</button>
        </div>
        <div class="col-sm text-right">
          <button class=" btn back" (click)="back()" id="host" style="margin: 0px 15px;">Back</button>

          <button type="submit" class=" btn next" id="host">Next</button>
        </div>
      </div>
    </div>


  </form>
</div>



<button id ="image" data-toggle="modal" data-target="#imageModal" style="display:none"></button>
<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true" >
    <div class="modal-dialog "  role="document" style="    margin-top: 5%;">
    <div class="modal-content" style="border: 0;">       
           <img src="{{modalImage}}" >
      </div>
    </div>
  </div>


  

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog " role="document" style="    margin-top: 5%;">
    <div class="modal-content" style="background-color:#f1f1f1; border-radius: 0;">
      <div style="padding:2rem">
        <file-drop headertext=" Drag & Drop files here" (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)"
          (onFileLeave)="fileLeave($event)">
        </file-drop>
        <hr>
        <p class="text-center">OR</p>
        <div class="text-center">
          <input type="file" id="Photo" (change)="dropped($event)" />
        </div>
      </div>
      <button id="close" data-dismiss="modal" style="display:none"></button>
    </div>
  </div>
</div>


<div class="modal fade" id="selectHost" tabindex="-1" role="dialog" aria-labelledby="selectHostLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document" style="    margin-top: 5%;">
    <div class="modal-content" style="background-color:#f1f1f1; border-radius: 0;">
      <div style="padding:2rem">
        <app-select-host (host)="onSelectHost($event)" [defaultValue]="defaultValue" *ngIf = "defaultValue"></app-select-host>
      </div>
      <button id="closeed" data-dismiss="modal" style="display:none"></button>
    </div>
  </div>
</div>

<div class="modal fade" id="takePhoto" tabindex="-1" role="dialog" aria-labelledby="takePhotoLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style="    margin-top: 5%;">
    <div class="modal-content" style="background-color:#f1f1f1; border-radius: 0;">
      <span class="watchlist text-uppercase"> Photo Capture | {{visitor?.firstName}} {{visitor?.lastName}} </span>
      <app-camera (pictureTaken)="handleImage($event)" (iscapturedImage) = "onKeep($event)"></app-camera>
      <button id="closeCamera" data-dismiss="modal" style="display:none"></button>
    </div>
  </div>
</div>
