.watchlist{
    font-family: 'Raleway', sans-serif;
}

.host{
    background-color: #ef8004;
    border: 0;
    border-radius: 0;
    padding: 10px 70px;
}
.newBar{
    padding: 1rem;
        background: white;
        margin: 0;
        padding-top: 2rem;
        padding-bottom: 2rem;
}

.form-control{
    border-radius: 0px !important;
    margin: 10px 0px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url(../../../assets/icons/date.png) no-repeat;
    width: 35px;
    height: 35px;
    border-width: thin;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url(https://mywildalberta.ca/images/GFX-MWA-Parks-Reservations.png) no-repeat;
    width: 20px;
    height: 20px;
    border-width: thin;
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}
/* input[type=time]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
} */

.rounded {
    border-radius: 3.25rem !important;
    border: thin #eeeeee solid;
    height: 80px;
    width: 80px;
}

.upload{
    background-color: #169AED;
    border: 0;
    border-radius: 0;
    padding: 6px 30px;
    margin-top: 25px
}

.takeNew{
    background-color: #8FC600;
    border: 0;
    border-radius: 0;
    padding: 6px 30px;
    margin-top: 25px
}


.yes{
    background-color: #169AED;
    border: 0;
    border-radius: 0;
    padding: 10px 35px;
}
.no{
    background-color: #DDDDDD;
    border: 0;
    border-radius: 0;
    padding: 10px 35px;
}
@media (min-width: 768px) {
    .modal-xl {
      width: 90%;
     max-width:1200px;
    }
  }


  .cancel{
    background-color: #727070;
    border: 0;
    border-radius: 0;
    padding: 6px 30px;
    color: white
  }

  .back{
    background-color: #727070;
    border: 0;
    border-radius: 0;
    padding: 6px 40px;
    color: white
  }
  .next{
    background-color: #8FC600;
    border: 0;
    border-radius: 0;
    padding: 6px 40px;
    color: white
  }
  .dropdown-toggle::after {
    display:none;
}

/* mat-select /deep/ .mat-select-arrow {
    width: 0;
    height: 0;
    background-image: url("../../../assets/icons/dropdown.png")!important;
    margin: 0 4px;
} */

>>> .mat-datepicker-toggle {
    background: url("../../../assets/icons/date.png") no-repeat !important;
}

>>> .mat-datepicker-toggle-default-icon{
    display: none;
}
ngx-material-timepicker-toggle /deep/ .ngx-material-timepicker-toggle{
    padding: 0px !important;
}

.input-field{
    border-right: 1px solid #ced4da;
              height: 48px;
              margin-top: 10px;
              border-bottom: 1px solid #ced4da;
              border-top: 1px solid #ced4da;
}