<div class="container-fluid" style="padding:2rem">
  <div class="container">
    <h5 class="watchlist text-uppercase">Visitor Confirmation</h5>
    <div class="row" style="background-color: white; margin:0; padding:2rem; border-bottom: 2px solid rgba(236, 236, 236, 0.952);">
      <div class="col-sm-3" >
        <img src="{{profileData?.uploadedImage}}" style="height: 11.5rem;
             border: 1px solid #a29d9d61;width: 11.5rem;" *ngIf = "profileData?.uploadedImage != ''">
             <img src="../../../assets/icons/{{profileData?.image}}" style="height: 11.5rem;
             border: 1px solid #a29d9d61;width: 11.5rem;" *ngIf = "profileData?.uploadedImage == ''">
      </div>
      <!-- <div class="col-sm-3" >
         
        </div> -->
      <div class="col-sm-9">
        <div class="watchlist text-uppercase" style="display: flex">
          <h2 style="font-weight: bold"> {{visitor?.firstName}} {{visitor?.lastName}}</h2> &nbsp;<p style="color: springgreen;margin-top: 10px;">(new
            visitor)</p>
        </div>
        <div class="watchlist " style="display: flex;font-style: italic;font-weight: bold">
          <h5 class="text-uppercase"> {{visitor?.company}}</h5> &nbsp;<h5> Company</h5>
        </div>
        <br />
        <div class="row">
          <div class="col-sm-6">
            <p>Visitor Category</p>
          </div>
          <div class="col-sm-6">
            <p>{{profileData?.category}}</p>
          </div>

          <div class="col-sm-6">
            <p>Purpose of Visit</p>
          </div>
          <div class="col-sm-6">
            <p>{{profileData?.purpose}}</p>
          </div>

          <div class="col-sm-6">
            <p>Favourite Food</p>
          </div>
          <div class="col-sm-6">
            <p>{{profileData?.food}}</p>
          </div>

          <div class="col-sm-6">
            <p>Email Address</p>
          </div>
          <div class="col-sm-6">
            <p>{{profileData?.email}}</p>
          </div>

          <div class="col-sm-6">
            <p>Eye Color</p>
          </div>
          <div class="col-sm-6">
            <p>blue</p>
          </div>


          <div class="col-sm-6">
            <p>Height</p>
          </div>
          <div class="col-sm-6">
            <p>6</p>
          </div>
        </div>
      </div>


    </div>

    <nav class="navbar navbar-light bg-light" style="border-bottom: 2px solid rgba(236, 236, 236, 0.952);padding:0">
      <h5 class="watchlist" style="padding: 1rem">Visitor Host</h5>
    </nav>
    <div class="row newBar">
      <div class="col-sm">
        <p>Company host for this visit</p>
      </div>
      <div class="col-sm">
        <p>{{host?.firstName}} {{host?.lastName}}</p>
      </div>
    </div>


    <nav class="navbar navbar-light bg-light" style="border-bottom: 2px solid rgba(236, 236, 236, 0.952);padding:0">
        <h5 class="watchlist" style="padding: 1rem">Pre-Registeration Info:</h5>
      </nav>
      <div class="row newBar">
        <div class="col-sm">
          <p>Planed arrival date:</p>
        </div>
        <div class="col-sm">
          <p>June, 31, 2018</p>
        </div>
      </div>
       <br/>
       <br/>
       <br/>
      <div class="row newBar">
          <div>
          <button type="button" class="btn btn-primary" [ngClass]="yesClass" (click)="printBadge('yes')">YES</button>
          <button type="button" class="btn btn-primary" [ngClass]="noClass" (click)="printBadge('no')">NO</button> 
        </div>
          <div style="padding: 0.8rem">
          <p>I need to print or activate a badge or label for this visitor</p>
        </div>
        </div>
        <br />
        <div class="row">
          <div class="col-sm text-left">
            <button class=" btn cancel" id="host" [routerLink]="['/watchlist']">Cancel</button>
          </div>
          <div class="col-sm text-right">
            <button class=" btn back" (click)="back()" id="host" style="margin: 0px 15px;">Back</button>
  
            <button type="submit" [routerLink]="['/printbadge']" class=" btn next" id="host">Confirm</button>
          </div>
        </div>
  </div>

</div>
