.actionBtn {
    font-size: 4em;
    cursor: pointer;
  }
  .snapshot {
    text-align: center;
  }
  .snapshot img {
    max-width: 800px;
    max-height: 800px;
  }
  ul.links {
    padding-bottom: 20px;
  }
  

  .retry{
    background-color: #727070;
    border: 0;
    border-radius: 0;
    padding: 6px 30px;
    color: white
  }

  .cancel{
    background-color: #a50101;
    border: 0;
    border-radius: 0;
    padding: 6px 40px;
    color: white
  }
  .keep{
    background-color: #8FC600;
    border: 0;
    border-radius: 0;
    padding: 6px 40px;
    color: white
  }