<div class="container-fluid" style="padding:2rem">
  <h3 class="watchlist text-uppercase"> find or add visitor</h3>

  <div class="container">
    <div class="card w-100" style="border: 0;border-radius: 0;">
      <div class="card-body">
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-sm">
              <label>
                First Name:
              </label>
              <input type="text" class="form-control form-control-lg" formControlName="firstName" >

            </div>
            <div class="col-sm">
              <label>
                Last Name:
              </label>
              <input type="text" class="form-control form-control-lg" formControlName="lastName">

            </div>
          </div>
          <div class="row">
            <div class="col-sm">
              <label>
                Company:
              </label>
              <input type="text" class="form-control form-control-lg" formControlName="company">

            </div>
            <div class="col-sm"></div>
          </div>
          <br />
          <div class="row">
            <div class="col-sm-2">
              <p>Pre-Register Visitor?</p>
            </div>
            <div class="col-sm-4 text-right">
              <button type="button" class="btn btn-primary" [ngClass]="yesClass" (click)="preRegister('yes')">YES</button>
           
              <button type="button" class="btn btn-primary" [ngClass]="noClass" (click)="preRegister('no')">NO</button>
            </div>
            <div class="col-sm-6 text-right">
              <button type="submit" class="btn btn-primary signIn
                " [disabled]="!profileForm.valid"
                *ngIf="!exactMatch && !possibleMatchFound">
                Sign In
              </button>
              <button type="submit" class="btn btn-primary search
                " [disabled]="!profileForm.valid"
                *ngIf="exactMatch || possibleMatchFound">
                <p style="transform: rotate(310deg); margin: 0; font-size: 2rem">&#9906;</p>
              </button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
  <br />

  <div class="container" *ngIf="exactMatch||possibleMatchFound">
    <div class="card w-100" style="border: 0;border-radius: 0;">
      <div class="card-body" style="padding:0">
        <nav class="navbar navbar-light bg-light" style="    border-bottom: 2px solid #ECECEC;">
          <p class="watchlist" style="font-weight: bold;     margin-bottom: 0;">
            {{results}}

          </p>
          <div class="text-right">
            <button (click)='onGrid()' style="border: 0; background: #F8F9FA;">
              <img src="../../../assets/icons/grid-blue.png" *ngIf='isGrid'>
              <img src="../../../assets/icons/grid-gray.png" *ngIf='!isGrid'>
            </button>

            <button (click)='onList()' style="border: 0;background: #F8F9FA;">
              <img src="../../../assets/icons/row-gray.png" *ngIf='isGrid'>
              <img src="../../../assets/icons/row-blue.png" *ngIf='!isGrid'>
            </button>
          </div>
        </nav>
        <div class="container" *ngIf="exactMatch">
          <div class="row" style="margin: 0">
            <div [ngClass]="gridList" [ngStyle]="{'background-color': topClass}" (click)="selectTop()">
              <div class="row" *ngIf='isGrid'>
                <div class="col-sm-3" style="margin: 5px 5px 5px 0px;">
                  <img src="https://v10test.eioboard.com/eioboard/{{exactMatchUser.PhotoLocation}}" style="height: 8rem;">
                </div>
                <div class="col-sm-8 watchlist" style="padding-top: 1rem">
                  <h3 [ngStyle]="{'color': topClasstext}">{{exactMatchUser.LastName}}, {{exactMatchUser.FirstName}}</h3>
                  <h5 [ngStyle]="{'color': topClasstext}">{{exactMatchUser.Company}}</h5>
                </div>
              </div>
              <div class="row" *ngIf='!isGrid'>
                <div class="col-sm-1" style="margin: 5px 5px 5px 0px;">
                  <img src="https://v10test.eioboard.com/eioboard/{{exactMatchUser.PhotoLocation}}" class="rounded-list">
                </div>
                <div class="col-sm-3 watchlist" style="padding-top: 1.5rem">
                  <h4 [ngStyle]="{'color': topClasstext}">{{exactMatchUser.LastName}}, {{exactMatchUser.FirstName}}</h4>
                </div>
                <div class="col-sm-3 watchlist" style="padding-top: 1.5rem">
                  <h5 [ngStyle]="{'color': topClasstext}">{{exactMatchUser.Company}}</h5>
                </div>
              </div>
            </div>
            <div [ngClass]="gridList">

            </div>
          </div>
        </div>


        <!-- Posible Results -->
        <nav class="navbar navbar-light bg-light" style="  border-top: 2px solid #ECECEC;   border-bottom: 2px solid #ECECEC;"
          *ngIf='possibleMatch'>
          <p class="watchlist" style="font-weight: bold;     margin-bottom: 0;">
            Possible Matches
          </p>
        </nav>
        <div class="container" style="background-color: #f8f9fa75">
          <div class="scrollbar" id="style-13">
            <div class="row" style="margin: 0; ">
              <div [ngClass]="gridList" *ngFor="let possibleUser of possibleMatchUsers; let i= index" style="padding: 5px; background-color: white">
                <div  [ngClass]="{'selected-color' : i==selectedIndex,'nonselected-color' : i!= selectedIndex}"  (click)="onSelectPossible(i, possibleUser)" style="border:1px solid #d0d0d0de;">
                  <div class="row" *ngIf='isGrid'>

                    <div class="col-sm-3" style="margin: 5px 5px 5px 0px;">
                      <img src="https://v10test.eioboard.com/eioboard/{{possibleUser.PhotoLocation}}" style="height: 8rem;    border: 1px solid #d0c8c8;
                      margin-left: 5px;">
                    </div>
                    <div class="col-sm-8 watchlist" style="padding-top: 1rem;">
                      <h3 [ngClass]="{'selected-text-color' : i==selectedIndex,'nonselected-text-color' : i!= selectedIndex}" >{{possibleUser.LastName}}, {{possibleUser.FirstName}}</h3>
                      <h5 [ngClass]="{'selected-text-color' : i==selectedIndex,'nonselected-text-color' : i!= selectedIndex}" >{{possibleUser.Company}}</h5>
                    </div>

                  </div>


                  <div class="row" *ngIf='!isGrid' style="    border-bottom: 1px solid #ECECEC;">
                    <div class="col-sm-1" style="margin: 5px 5px 5px 0px;">
                      <img src="https://v10test.eioboard.com/eioboard/{{possibleUser.PhotoLocation}}" class="rounded-list">
                    </div>
                    <div class="col-sm-3 watchlist" style="padding-top: 1.5rem">
                      <h4 [ngClass]="{'selected-text-color' : i==selectedIndex,'nonselected-text-color' : i!= selectedIndex}">{{possibleUser.LastName}}, {{possibleUser.FirstName}}</h4>
                    </div>
                    <div class="col-sm-3 watchlist" style="padding-top: 1.5rem">
                      <h5 [ngClass]="{'selected-text-color' : i==selectedIndex,'nonselected-text-color' : i!= selectedIndex}">{{possibleUser.Company}}</h5>
                    </div>
                    <div class="col-sm-4 watchlist text-right" style="padding-top: 1.5rem" *ngIf="possibleUser.isInWatchlist">
                      <h5 style="color: #ab2d2b;font-weight: bold"><span style="font-size: 2rem;">&#9888;</span>
                        WATCHLIST
                        X</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <!-- New Visitor -->

        <nav class="navbar navbar-light bg-light" style="  border-top: 2px solid #ECECEC;   border-bottom: 2px solid #ECECEC;">
          <p class="watchlist" style="font-weight: bold;     margin-bottom: 0;">
            New Visitor
          </p>
        </nav>
        <div class="container">
          <div class="row" style="padding: 5px">
            <div [ngClass]="gridList">
              <div  (click)="addNewVisitor(profileForm)">
                <div class="row" *ngIf='isGrid' style="border: 1px solid #d0d0d0de !important;
                background-color: #f8f8f8 !important;
                margin: 0 !important;">
                  <div class="col-sm-3" style="padding: 25px">
                    <button style="border: 0;
                    background:  #f8f8f8;"><img src="../../../assets/icons/addvisitor.png"></button>
                  </div>
                  <div class="col-sm-2">
                  </div>
                  <div class="col-sm-6 watchlist text-uppercase" style="padding: 25px">
                    <h5 style="padding-top: 2rem; font-weight: bold">Add As New Visitor</h5>
                  </div>
                </div>
                <div class="row" *ngIf='!isGrid'>
                  <div class="col-sm-1" style="padding-left: 20px;
                    padding-top: 5px;">
                    <button style="border: 0;
                    background: #fff;"><img src="../../../assets/icons/addvisitor.png"
                        style="    height: 40px;"></button>
                  </div>

                  <div class="col-sm-5 watchlist text-uppercase" style="padding: 5px">
                    <h5 style="padding-top: 0.5rem; font-weight: bold">Add As New Visitor</h5>
                  </div>
                  <div class="col-sm-6">
                  </div>
                </div>
              </div>
            </div>
            <div [ngClass]="gridList">
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="text-right" *ngIf="exactMatch||possibleMatchFound" style="padding-top: 1rem;">
    <button class="btn btn-primary signIn" (click)="onNext()">Next</button>
     admin:<input type="checkbox" id="admin" (change)="isAdmin($event)">
  </div>
</div>

<button id="isInWatchList" data-toggle="modal" data-target="#exampleModal" style="display:none"></button>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document" style="margin-top: 5%;">
    <div class="modal-content" style="background-color:#f1f1f1; border-radius: 0;">
      <button id="close" data-dismiss="modal" style="display:none"></button>
      <div class="container" style="padding: 0.5rem">
        <div class="container" style="    background-color: #B41F1F;
          color: white; ">
          <div class="row">
            <div class="col-sm-2" style="padding:1rem 25px">
              <img src="../../../assets/icons/warning.png">
            </div>
            <div class="col-sm-10">
              <h4 class="title text-uppercase">
                possible watchlist visitor
              </h4>
            </div>
          </div>

        </div>

        <div class="row" style="padding: 2rem;font-size: 20px;">

          <p style="margin:0">The visitor name entered is on the Watchlist.</p>
          <p style="padding-left: 40px;">Are you sure you want to proceed?</p>

        </div>
        <div class="row">
          <div class="col-sm-4 text-right">
            <button class=" btn btn-primary possibelWatchlistYes" (click) = "onConfirm()">Yes</button>
          </div>
          <div class="col-sm-6 text-left">
            <p style="font-size: 14px;color: #615e5e;">
              I'm confident this is not the person on the Watchlist
            </p>
          </div>
          <div class="col-sm-2">

          </div>

          <div class="col-sm-4 text-right">
            <button class=" btn btn-primary possibelWatchlistNo" id ="close" data-dismiss="modal">No</button>
          </div>
          <div class="col-sm-6 text-left">
            <p style="font-size: 14px;color: #615e5e;">
              I need to verify whether this person is allowed the entry
            </p>
          </div>
          <div class="col-sm-2">
            
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<button id="secondCheck" data-toggle="modal" data-target="#forceNextStep" style="display:none"></button>
<div class="modal fade" id="forceNextStep" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document" style="margin-top: 5%;">
      <div class="modal-content" style="background-color:#f1f1f1; border-radius: 0;">
        <button id="close" data-dismiss="modal" style="display:none"></button>
        <div class="container" style="padding: 0.5rem">
          <div class="container" style="    background-color: #B41F1F;
            color: white; ">
            <div class="row">
              <div class="col-sm-2" style="padding:1rem 25px">
                <img src="../../../assets/icons/warning.png">
              </div>
              <div class="col-sm-10">
                <h5 class="title text-uppercase">
                 This perosn is on the Watchlist
                </h5>
              </div>
            </div>
  
          </div>
  
          <div class="text-center" style="padding: 1rem; ">
  
            <h3>STOP</h3>
            <p>This person is not allowed entry.</p>
  
          </div>
         <div class="text-center">
            <button class=" btn btn-primary ok" data-dismiss="modal" id = "oknext">OK</button><br/>
            <button class=" btn btn-primary ignore"  *ngIf = 'admin' (click) = "onIgnore()">IGNORE</button>
         </div>
        </div>
      </div>
    </div>
</div>



<button id="newVisitor" data-toggle="modal" data-target="#onNewVisitor" style="display:none"></button>
<div class="modal fade" id="onNewVisitor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document" style="margin-top: 5%;">
      <div class="modal-content" style="background-color:#f1f1f1; border-radius: 0;">
        <button id="closeNewVis" data-dismiss="modal" style="display:none"></button>
        <div class="container" style="padding: 0.5rem">
          <div class="container" style="    background-color: #B41F1F;
            color: white; ">
            <div class="row">
              <div class="col-sm-2" style="padding:1rem 25px">
                <img src="../../../assets/icons/warning.png">
              </div>
              <div class="col-sm-10">
                <h5 class="title text-uppercase">
                 This perosn matched on the Watchlist.
                </h5>
                <h5 class="title text-uppercase ">

                  Are you sure this is a new Visitor?
 
                 </h5>
              </div>
            </div>
  
          </div>
         <div class="text-center" style="padding: 2rem">
            <button class=" btn btn-primary okVis" id = "oknext" (click) = 'onAddToVisitors(profileForm)'>Yes</button>
            <button class=" btn btn-primary noVis"   data-dismiss="modal">No</button>
         </div>
        </div>
      </div>
    </div>
</div>
