<h5 class="watchlist text-uppercase">Print Label</h5>

<div class="row">
  <div class="col-lg-4">
    <div class="card">  
    <div class="card-header">
      Print Label
    </div>
    <div class="card-body">
    </div>
</div>
  </div>
  <div class="col-lg-8 card">
        <div class="card-header">
                Print Label
              </div>
              <div class="card-body">
              </div>
  </div>
</div>


<div class="row">
  <div class="col-lg-6">

  </div>
  <div class="col-lg-6">

  </div>
</div>
